* {
  text-align: center;
}

li {
  list-style: none;
}

fieldset {
  border: none;
}

.selectedDate {
  background-color: lightgreen;
}

.landingPage {
  background-color: lightgrey;
  width: 80%; /* Magic here */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  float: center;
  padding: 5px;
  /* margin: 10%; */
}
